pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/out/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.repl
.nrepl-port
.cpcache/
.rebel_readline_history
*.aux
*.log
*.out
.DS_Store
/resources/public/css/*.css
/resources/public/css/*.css.map
/node_modules/
package.json
package-lock.json
*.el
*.dat
*.script
/gh_pages/
