{:deps {org.clojure/clojure {:mvn/version "1.10.0"}
        org.clojure/clojurescript {:mvn/version "1.10.520"}
        org.clojure/core.async {:mvn/version "0.4.490"}
        reagent {:mvn/version "0.8.1"}
        re-frame {:mvn/version "0.10.6"}
        com.yetanalytics/xapi-schema
        {:git/url "https://github.com/yetanalytics/xapi-schema.git"
         :sha "e2c517e7adcedc7f3012b90bce274e2c33cdbcc1"}
        com.cognitect/transit-cljs {:mvn/version "0.8.256"}
        cljsjs/vega {:mvn/version "5.3.4-0"}
        cljsjs/vega-tooltip {:mvn/version "0.17.0-0"}
        cljs-http {:mvn/version "0.1.45"}
        clj-http {:mvn/version "3.9.1"}
        com.andrewmcveigh/cljs-time {:mvn/version "0.5.2"}
        clj-time {:mvn/version "0.15.0"}
        org.clojure/data.json {:mvn/version "0.2.6"}
        net.cgrand/macrovich {:mvn/version "0.2.1"}
        datascript {:mvn/version "0.18.8"}}
 :paths ["src" "resources"]
 :aliases {:fig {:extra-deps
                 {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
                  com.bhauman/figwheel-main {:mvn/version "0.2.0"}
                  day8.re-frame/re-frame-10x {:mvn/version "0.3.3-react16"}
                  cheshire {:mvn/version "5.8.1"}
                  org.clojure/test.check {:mvn/version "0.10.0-alpha3"}}
                 :extra-paths ["target" "test" "dev"]}
           :watch-sass {:extra-deps
                        {com.yetanalytics/sassenach {:mvn/version "0.1.1"}}
                        :main-opts ["-m" "com.yetanalytics.sassenach"
                                    ;; input path
                                    "resources/dave/ui/sass/style.scss"
                                    ;; output path
                                    "resources/public/css/style.css"
                                    "node_modules"]}
           :build {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}

           :test-cljs
           {;; :extra-deps {org.clojure/test.check {:mvn/version "0.10.0-alpha3"}}
            :main-opts ["-m" "figwheel.main" "-co" "test.cljs.edn" "-m" "com.yetanalytics.dave.test-runner"]}
           :test-clj
           {:extra-paths ["test"]
            :extra-deps {org.clojure/test.check {:mvn/version "0.10.0-alpha3"}
                         com.cognitect/test-runner
                         {:git/url "https://github.com/cognitect-labs/test-runner.git"
                          :sha "cb96e80f6f3d3b307c59cbeb49bb0dcb3a2a780b"}}
            :main-opts ["-m" "cognitect.test-runner"]}
           ;; for building a static html/js page
           :build-prod
           {:extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.0"}}
            :main-opts ["-m" "figwheel.main" "-O" "simple" "-bo" "prod"]}
           ;; same as build-prod, but launches a figwheel server to debug/preview
           :build-prod-server
           {:extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.0"}}
            :main-opts ["-m" "figwheel.main" "-O" "simple" "-bo" "prod" "-s"]}
           ;; run sass compilation once, sans source-map
           :build-sass
           {:extra-deps {deraen/sass4clj {:mvn/version "0.3.1"}}
            :main-opts ["-e" "(require,'sass4clj.core),(sass4clj.core/sass-compile-to-file,\"resources/dave/ui/sass/style.scss\",\"resources/public/css/style.css\",{:source-map,false,:source-paths,[\"node_modules\"]})"]}}}
