{:deps {org.clojure/clojure {:mvn/version "1.9.0"}
        org.clojure/clojurescript {:mvn/version "1.10.339"}
        reagent {:mvn/version "0.8.1"}
        re-frame {:mvn/version "0.10.6"}
        com.yetanalytics/xapi-schema {:mvn/version "1.0.0-alpha19-SNAPSHOT"}}
 :paths ["src" "resources"]
 :aliases {:fig {:extra-deps
                  {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
                   com.bhauman/figwheel-main {:mvn/version "0.1.9"}}
                 :extra-paths ["target" "test"]}
           :watch-sass {:extra-deps
                        {com.yetanalytics/sassenach {:mvn/version "0.1.0"}}
                        :main-opts ["-m" "com.yetanalytics.sassenach"
                                    ;; input path
                                    "resources/sass/style.scss"
                                    ;; output path
                                    "resources/public/css/style.css"]}
           :build {:extra-deps {org.clojure/test.check {:mvn/version "0.10.0-alpha3"}}
                   :main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}
           :min   {:main-opts ["-m" "figwheel.main" "-O" "advanced" "-bo" "dev"]}
           :test  {:extra-deps {org.clojure/test.check {:mvn/version "0.10.0-alpha3"}}
                   :main-opts ["-m" "figwheel.main" "-co" "test.cljs.edn" "-m" com.test-runner]}}}
