/* css for function stuff */

.function {
  .title button {
    margin-left: 2em;
  }
  img.title-img {
    display: inline;
    max-height: 32px;
    max-width: 32px;
    vertical-align: middle;
  }
  .args > div {
    min-width: 15em;
  }
}
