@import "dave/ui/sass/mdc.scss";


@import "@material/top-app-bar/_mixins";

header.top-bar {
  @extend .mdc-top-app-bar;
  @extend .mdc-top-app-bar--prominent;
  background-color: rgba(255,255,255,0);
  background-image: url("/img/dev/dave_logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  // @include mdc-top-app-bar-fill-color('red');
  > div {
    @extend .mdc-top-app-bar__row;
    > section {
      @extend .mdc-top-app-bar__section;
      @extend .mdc-top-app-bar__section--align-start;
      > a {
        /* TODO: Style */
        color: #313131;
      }
    }
  }
}

footer {
  height: 128px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-image: url("/img/dev/white_text_logo.png"), linear-gradient(to right top, #1e3e8e, #21449d, #234bad, #2751bd, #2a58cd);
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
}
