@import "dave/ui/sass/mdc.scss";
@import "@material/image-list/_mixins";



div.picker {
  div.picker-header{
    position: fixed;
    z-index: 3;
   background: white;
    width: 100%;
  }
  h2{
    margin: 20px 0px 20px 30px;
  }
  @extend .mdc-card;
  position: fixed;
  z-index: 8 !important;
  bottom: 0;
  width: 100vw;
  max-height: 0px;
  overflow-y: scroll;
  transition: max-height .2s;
  > ul {
    display: flex;
    flex-wrap: wrap;
    margin: 80px auto;
    padding: 0;
    @extend .mdc-image-list--with-text-protection;
    @include mdc-image-list-standard-columns(7);
    min-width: 100%;
    list-style:none;
    > li {
      padding-left: 50px;
      padding-right:50px;
      margin-bottom: 30px;
      > div img{
        height: 150px;
      }
      > .selectorspan{
        background-color: #d9d9d9;
        padding: 5px 5px 5px 0px; 
        border-radius: 5px;
        > span{
          margin-left: 10px;
        }
      }
    }
  }
  i.dismiss {
    position: fixed;
     right: 5%;
     margin-top: -5px;
    color: white;
    background-color: #2A58CD;
    padding: 10px;
    border-radius: 30px;
    z-index: 1;
  }
}

div.picker.active {
  min-height: 300px;
}
