@import "dave/ui/sass/mdc.scss";
@import "@material/image-list/_mixins";



div.picker {

  div.picker-header{
    position: fixed;
    z-index: 3;
   background: white;
    width: 100%;
  }
  h2{
    margin: 20px 0px 20px 30px;
  }
  @extend .mdc-card;
  position: fixed;
  z-index: 8 !important;
  bottom: 0;
  width: 100vw;
  max-height: 0px;
  overflow-y: scroll;
  transition: max-height .2s;
  > ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 80px auto;
    padding: 0;
    @extend .mdc-image-list--with-text-protection;
    @include mdc-image-list-standard-columns(7);
    min-width: 100%;
    list-style:none;
    > li {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: center;
      border-radius: 10px;
      padding: 15px 0px 0px 0px;
      margin: 0px 30px 30px 30px;
      transition: .1s;
      height: 200px;
      width: 200px;
      > div img{
        height: 150px;
        width: 160px;
      }
      > div.dave-vega-container{
        min-height: 150px;
        min-width: 170px;
        > svg {
          max-height: 150px;
        }
      }
      > .selectorspan{
        background-color: #d9d9d9;
        padding: 5px 5px 5px 5px;
        border-radius: 2px;
        width: 100%;

          > span{
          margin-left: 10px;
        }
      }
    }
    > li:hover {
      -webkit-box-shadow: inset 0px 4px 50px -3px rgba(0,0,0,0.13);
      box-shadow: inset 0px 4px 50px -3px rgba(0,0,0,0.13);
      transition: .1s;
    }
  }
  i.dismiss {
    position: fixed;
     right: 5%;
     margin-top: -5px;
    color: white;
    background-color: #2A58CD;
    padding: 10px;
    border-radius: 30px;
    z-index: 1;
  }
}

div.picker.active {
  min-height: 300px;
  -webkit-box-shadow: -1px -2px 57px -7px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px -2px 57px -7px rgba(0,0,0,0.15);
  box-shadow: -1px -2px 57px -7px rgba(0,0,0,0.15);
}
