@import "dave/ui/sass/mdc.scss";
@import "@material/image-list/_mixins";



div.picker {
  h1{
    margin: 40px 0px 40px 30px;
  }
  @extend .mdc-card;
  position: fixed;
  bottom: 0;
  width: 100vw;
  max-height: 0px;
  overflow-y: scroll;
  transition: max-height .2s;
  > ul {
    @extend .mdc-image-list;
    @extend .mdc-image-list--with-text-protection;
    @include mdc-image-list-standard-columns(7);
    min-width: 100%;
    list-style:none;
    > li {
      padding-left: 50px;
      padding-right:50px;
      margin-bottom: 30px;
    }
  }
  i.dismiss {
    position: absolute;
    top: 1em;
    right: .5em;
  }
}

div.picker.active {
  max-height: 450px;

}
