/* root sass file for project */
@import "dave/ui/sass/mdc.scss";
@import "dave/ui/sass/fonts.scss";
@import "dave/ui/sass/picker.scss";
@import "dave/ui/sass/nav.scss";
@import "dave/ui/sass/vega.scss";
@import "dave/ui/sass/func.scss";
@import "dave/ui/sass/form.scss";
@import "dave/ui/sass/dialog.scss";
@import "dave/ui/sass/wizard.scss";
@import "dave/ui/sass/debug.scss";
@import "dave/ui/sass/codemirror.scss";

body {
  margin: 0 0 0 0;
  font-family: 'Lato', sans-serif;
}

/* example of applying mdc mixins */
@import "@material/layout-grid/_mixins";

.page {
  min-height: 50vh;
  @include mdc-layout-grid('desktop', 16px);
  > div {
    @include mdc-layout-grid-inner('desktop', 8px, 4px);
    > div {
      @include mdc-layout-grid-cell('desktop', 12, 4px);
    }
  }
}

.page {
>  div .gridblock {
  @include mdc-layout-grid-cell('desktop', 6, 2px)
}
   div .testdatasetblock {
    @include mdc-layout-grid-cell('desktop', 6, 2px)
  }
}

.list {
  @include mdc-layout-grid('desktop', 8px);
  > div {
    @include mdc-layout-grid-inner('desktop', 4px, 2px);
    > div {
      @include mdc-layout-grid-cell('desktop', 4, 2px)
    }
  }
}

.analysis-grid {
  @include mdc-layout-grid('desktop', 16px);
}

.analysis-inner {
  @include mdc-layout-grid-inner('desktop', 4px, 4px);
}

.cell-3 {
  @include mdc-layout-grid-cell('desktop', 3, 2px);
}

.cell-6 {
  @include mdc-layout-grid-cell('desktop', 6, 2px);
}

.cell-12 {
  @include mdc-layout-grid-cell('desktop', 12, 2px);
}

.header-title {
  display: inline-block;
}

.header-button {
  margin-left: 16px;
}
