@import "@material/layout-grid/_mixins";


.infomain {
  color: #353535;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

dt{
  color: #26A699;
  font-weight:bold;
  font-family: 'Lato', sans-serif;
}

dd{
    font-family: 'Lato', sans-serif;
}

h3{
  color: #00a899;
  font-weight:bold;
  font-family: 'Lato', sans-serif;
}

.wizard-problems {
  > p{
    font-family: 'Lato', sans-serif;

  }
}


.wizard {
  @include mdc-layout-grid('desktop', 16px);
  > div {
    @include mdc-layout-grid-inner('desktop', 8px, 4px);
    > div.wizard-intro {
      @include mdc-layout-grid-cell('desktop', 12, 4px);
    }
    > div.wizard-header {
      @include mdc-layout-grid-cell('desktop', 12, 4px);
      h1{
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: .5em;
        color: #353535;
        font-family: 'Lato', sans-serif;
      }
    }
    > div.wizard-form {
      @include mdc-layout-grid-cell('desktop', 6, 4px);
    }
    > div.wizard-info {
      @include mdc-layout-grid-cell('desktop', 6, 4px);
    }
    > div.wizard-problems {
      @include mdc-layout-grid-cell('desktop', 12, 4px);
      > p {
        text-align: center;
      }
    }
  }

  div.wizard-form{
    background-color: #FBFBFB;
    padding-left: 20px;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: .5em;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 20px -2px #bdbdbd;
    -moz-box-shadow: 0px 0px 20px -2px #bdbdbd;
    box-shadow: 0px 0px 20px -2px #bdbdbd;
  }
  .mdc-text-field:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mdc-floating-label {
    max-width: 400px;
  }
  .majorbutton{
    font-family: 'Lato', sans-serif;
    margin-bottom: 0px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 2px 30px;
    background-color: #345BC6;
    color:white;
    font-size: 1em;
    -webkit-box-shadow: 0px 2px 14px -2px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 2px 14px -2px rgba(0,0,0,0.32);
    box-shadow: 0px 2px 14px -2px rgba(0,0,0,0.32);
    transition-duration: .1s;
  }
}
